{
  "presets": ["next/babel"],
  "plugins": [["babel-plugin-styled-components", { "ssr": true }], "macros"]
}
// "plugins": [["styled-components", { "ssr": true }], "macros"]
// ["babel-plugin-styled-components", { "ssr": true }],
// "plugins": ["styled-components", "macros"]
// "alias": {
//   "@components": "./components"
// }
